<div class="card">
    <div class="card-header">
        <h5>Reports</h5>
    </div>
    <div class="card-body">
        <form [formGroup]="reportForm">
            <div class=" row form-group">
                <div class=" row col-md-6">
                    <div class="col-md-4 form-label">
                        <label>
                            <strong>From Date:</strong>
                        </label>
                    </div>
                    <div class="col-md-8 ">
                        <input type="date" class="form-control " [(ngModel)]="fromdate" 
                          formControlName="fromdate">
                          <div style="background-color: white;border-color: white;color: red" *ngIf="reportForm.controls.fromdate.invalid && (reportForm.controls.fromdate.dirty || reportForm.controls.fromdate.touched)"
                          class="alert alert-danger">
                         *From Date is required.
                  </div>
                    </div>
                </div>
                <div class="row col-md-6">
                    <div class="col-md-4 form-label">
                        <label>
                            <strong>To Date:</strong>
                        </label>
                    </div>
                    <div class="col-md-8 ">
                        <input type="date" class="form-control " [(ngModel)]="todate" 
                          formControlName="todate">
                          <div style="background-color: white;border-color: white;color: red" *ngIf="reportForm.controls.todate.invalid && (reportForm.controls.todate.dirty || reportForm.controls.todate.touched)"
                          class="alert alert-danger">
                         *To Date is required.
                  </div>
                    </div>
                </div>
               
            </div>
        </form>
 
        <div class="row ">
            <div class="row col-md-6">
                <div class="col-md-4">
                    <label>
                        <strong>Report Type</strong>
                    </label>
                </div>
                <div class="col-md-8 ">
                    <select class="custom-select" formControlName="type" (change)="selectType($event)" >
                        <option disabled>Report type</option>
                        <option>payment_report</option>
                        <option>member_report</option>
                        <option>emp_report</option>
                      
                    </select>
                    <div style="background-color: white;border-color: white;color: red" *ngIf="reportForm.controls.type.invalid && (reportForm.controls.type.dirty || reportForm.controls.type.touched)"
                    class="alert alert-danger">
                   *Type is required.
            </div>
                </div>
               
            </div>
        </div>
       
    </div>
    <div class="card-footer">
        <div class="row" style="float: right;">
            <button style="margin-right: 70px;" class="btn btn-dark button-size" (click)="generatePdf()">Print</button>
        </div>
    </div>
</div>
<!--  -->
 
  <div  [hidden]="reportHide">  
    <div class="card">
      <table id="contentToConvert">  
          <tr>  
            <th>Member Id</th>  
            <th>Name</th>  
            <th>NIC</th>  
            <th>Mobile Number</th>
            <th>Payment Date</th>
            <th>Amount</th>
            <th>Remark</th>
          </tr>  
          <tr *ngFor="let data of paymentData">  
            <td>{{data.memberId}}</td>  
            <td>{{data.name}}</td>  
            <td>{{data.guestNIC}}</td>  
            <td>{{data.guestMobile}}</td>  
            <td>{{data.date | date: 'dd/MM/yyyy'}}</td>  
            <td  style=" text-align: center;" >{{data.amount | number: '2.2'}}</td>
            <td>{{data.status}}</td>             
          </tr>  
         
        </table>  
          
    </div>  
  </div>  