
  <div class="row"  style=" width: 1500px;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="container">
        <div class="card" style="height:500px; width: 350px; margin-top:90px;border: 3px solid rgb(78, 161, 238);">
          <div class="card-body">
            <div class="row" >
              <h4 style=" margin-left:52px;">Wijaya Sports Complex</h4>
              <img style=" width: 200px;height:230px;margin-left: 58px;" src="assets/img/avatars/loginimg1.png">
            </div>  
            <div class="row col-md-12" style=" margin-left: 1px;">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="username" placeholder="Username" autocomplete="username" required>
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input type="password" class="form-control"  [(ngModel)]="password"  placeholder="Password" autocomplete="current-password" required>
              </div>   
            </div>
            <div class="row col-md-12" style="    margin-left: 5px;">
              <input type="checkbox" style="   margin-top: 5px;">&nbsp;<p>Remember me</p>
            </div>
            <div class="row">
              <div class="col-12">
                <button style="width:271px;margin-left: 18px;font-weight: bold;" (click)="Login()" type="button" class="btn btn-primary px-4">Login</button>
              </div>
             
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-4"></div>

  </div>