<ngb-tabset #tabset >
    <ngb-tab title="Details" id="tab1">
      <ng-template ngbTabContent>
        <div class="row" >
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        <h5>Member Registration</h5>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="profileForm">
                            <!-- left side -->
                            <div class="row col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-12 row form-group">
                                        <div class="col-md-4 form-label">
                                            <label><strong> First Name:</strong>
                                            </label>
                                        </div>
                                        <div class="col-md-8 ">
                                            <input type="text" class="form-control" formControlName="firstName"
                                                placeholder="Enter Firts Name">
                                                <div style="background-color: white;border-color: white;color: red"
                                                *ngIf="profileForm.controls.firstName.invalid && ( profileForm.controls.firstName.touched)"
                                                class="alert alert-danger">
                                                *First Name is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 row form-group">
                                        <div class="col-md-4 form-label">
                                            <label><strong> Address:</strong>
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <textarea type="text" class="form-control text-area" formControlName="address"
                                                placeholder="Enter Address"></textarea>
                                                <div style="background-color: white;border-color: white;color: red" *ngIf="profileForm.controls.address.invalid && (profileForm.controls.address.dirty || profileForm.controls.address.touched)"
                                  class="alert alert-danger">
                                 *Address is required.
                          </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 row form-group">
                                        <div class="col-md-4 form-label">
                                            <label>
                                                <strong>Date of Birth:</strong>
                                            </label>
                                        </div>
                                        <div class="col-md-8 ">
                                            <input type="date" class="form-control " formControlName="dateOfBirth" [(ngModel)]="dateOfBirth">
                                            <div style="background-color: white;border-color: white;color: red" *ngIf="profileForm.controls.dateOfBirth.invalid && (profileForm.controls.dateOfBirth.dirty || profileForm.controls.dateOfBirth.touched)"
                                            class="alert alert-danger">
                                           *Date of Birth is required.
                                    </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 row form-group">
                                        <div class="col-md-4 form-label">
                                            <label>
                                                <strong>Join Date:</strong>
                                            </label>
                                        </div>
                                        <div class="col-md-8 ">
                                            <input type="date" class="form-control " formControlName="joinedDate" [(ngModel)]="joinedDate">
                                            <div style="background-color: white;border-color: white;color: red" *ngIf="profileForm.controls.joinedDate.invalid && (profileForm.controls.joinedDate.dirty || profileForm.controls.joinedDate.touched)"
                                            class="alert alert-danger">
                                           *Join Date is required.
                                    </div>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="col-md-12 row form-group" style="margin-top: 27px;">
                                        <div class="col-md-4 form-label">
                                            <label>
                                                <strong> Moile Number:</strong>
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <input class="form-control" formControlName="mobileNumber"
                                            type="text" (keypress)="keyPress($event)" maxlength="10" placeholder="Enter Mobile Number" minlength="10" >
                                                <div style="background-color: white;border-color: white;color: red" *ngIf="profileForm.controls.mobileNumber.invalid && (profileForm.controls.mobileNumber.dirty || profileForm.controls.mobileNumber.touched)"
                                                class="alert alert-danger">
                                               *Moble Number is required.
                                        </div>
                                        </div>
                                    </div>
                                </div>
        
                                <!-- right side -->
                                <div class="col-md-6">
                                    <div class="col-md-12 row form-group">
                                        <div class="col-md-4 form-label">
                                            <label>
                                                <strong> Last Name:</strong>
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" formControlName="lastName"
                                                placeholder="Enter Last Name">
                                                <div style="background-color: white;border-color: white;color: red" *ngIf="profileForm.controls.lastName.invalid && (profileForm.controls.lastName.dirty || profileForm.controls.lastName.touched)"
                                                class="alert alert-danger">
                                               *Last Name is required.
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 row form-group">
                                        <div class="col-md-4 form-label">
                                            <label>
                                                <strong>NIC</strong>
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" formControlName="nic"  type="text" minlength="10"  maxlength="12"placeholder="Enter NIC">
                                                <div style="background-color: white;border-color: white;color: red" *ngIf="profileForm.controls.nic.invalid && (profileForm.controls.nic.dirty || profileForm.controls.nic.touched)"
                                                class="alert alert-danger">
                                               *NIC is required.
                                        </div>
                                        </div>
                                    </div><br>
                                    <div class="col-md-12 row form-group gender-margin">
                                        <div class="col-md-4 form-label">
                                            <label>
                                                <strong>Gender</strong>
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="radio" value="1" [checked]="isTrueMale"  formControlName="genderId"><span> Male</span>&nbsp;&nbsp;
                                            <input type="radio" value="2" [checked]="isTrueFemale"  formControlName="genderId"><span> Female</span>
                                            <div style="background-color: white;border-color: white;color: red" *ngIf="profileForm.controls.genderId.invalid && (profileForm.controls.genderId.dirty || profileForm.controls.genderId.touched)"
                                            class="alert alert-danger">
                                           *Gender is required.
                                    </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 row form-group">
                                        <div class="col-md-4 form-label">
                                            <label>
                                                <strong> Sports:</strong>
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <label>
                                                <input type="checkbox" id="checkbox-1" value="value-1" (change)="onCheckChange(profileForm.value.sportsId,1)"  formControlName="sportsId">&nbsp; Badminton
                                              </label><br/>
                                              <label>
                                                <input type="checkbox" id="checkbox-2" value="value-2" (change)="onCheckChange(profileForm.value.sportsId,2)" formControlName="sportsId" >&nbsp; Swimming
                                              </label><br/>
                                              <label>
                                                <input type="checkbox" id="checkbox-3" value="value-3" (change)="onCheckChange(profileForm.value.sportsId,3)" formControlName="sportsId">&nbsp; Gym
                                              </label><br/>
                                              <div style="background-color: white;border-color: white;color: red" *ngIf="profileForm.controls.sportsId.invalid && (profileForm.controls.sportsId.dirty || profileForm.controls.sportsId.touched)"
                                              class="alert alert-danger">
                                             *Sport is required.
                                      </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 row form-group">
                                        <div class="col-md-4 form-label">
                                            <label>
                                                <strong> Land Phone:</strong>
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <input  class="form-control" formControlName="landPhoneNumber" minlength="10"   type="text" (keypress)="keyPress($event)"  maxlength="10" placeholder="Enter Land Phone Number">
                                                <div style="background-color: white;border-color: white;color: red" *ngIf="profileForm.controls.landPhoneNumber.invalid && (profileForm.controls.landPhoneNumber.dirty || profileForm.controls.landPhoneNumber.touched)"
                                              class="alert alert-danger">
                                             *Landphone number is required.
                                      </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="col-md-12 row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6 row">
                                <div class="col-md-9">
                                    <button class="btn btn-dark button-size" style="float: right;">Reset</button>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-2">
                                    <!-- <button class="btn btn-dark button-size" (click)="SaveEmployee(profileForm.value)">Next</button> -->
                                    <button class="btn btn-dark button-size" (click)="firstNext('mesurements')">Next</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-2"></div> -->
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Mesurements" id="tab2">
      <ng-template ngbTabContent>
        <div class="row" style="padding-top:18px">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        <h5>Member Mesurements</h5>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="profileForm">
                            <!-- left side -->
                            <div class="row col-md-12">
                                <div class="col-md-6">
                                    
                                    <div class="col-md-12 row form-group">
                                        <div class="col-md-4 form-label">
                                            <label><strong> Chest:</strong>
                                            </label>
                                        </div>
                                        <div class="col-md-8 ">
                                            <input type="number" class="form-control" formControlName="chest"
                                                placeholder="Enter Chest cm">
                                        </div>
                                    </div>
                                    <div class="col-md-12 row form-group">
                                        <div class="col-md-4 form-label">
                                            <label><strong> Left Arm:</strong>
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="number" class="form-control" formControlName="leftArm"
                                                placeholder="Enter Left Arm cm">
                                        </div>
                                    </div>
                                    <div class="col-md-12 row form-group">
                                        <div class="col-md-4 form-label">
                                            <label>
                                                <strong>Abdomen:</strong>
                                            </label>
                                        </div>
                                      <div class="col-md-8 ">
                                            <input type="number" class="form-control" formControlName="abdomen"
                                                placeholder="Enter Abdomen cm">
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-12 row form-group">
                                        <div class="col-md-4 form-label">
                                            <label>
                                                <strong>Left Thigh:</strong>
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="number" class="form-control" formControlName="leftThigh"
                                            placeholder="Enter Left Thigh cm">
                                        </div>
                                    </div>
                                    <div class="col-md-12 row form-group">
                                        <div class="col-md-4 form-label">
                                            <label>
                                                <strong> Left Calf:</strong>
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="number" class="form-control" formControlName="leftCalf" 
                                            placeholder="Enter Left Calf cm">
                                        </div>
                                    </div>
                                </div>
        
                                <!-- right side -->
                                <div class="col-md-6">
                                    <div class="col-md-12 row form-group">
                                        <div class="col-md-4 form-label">
                                            <label>
                                                <strong> Waist:</strong>
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="number" class="form-control" formControlName="waist"
                                                placeholder="Enter Waist cm">
                                        </div>
                                    </div>
                                    <div class="col-md-12 row form-group">
                                        <div class="col-md-4 form-label">
                                            <label>
                                                <strong>Right Arm</strong>
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="number" class="form-control" formControlName="rightArm"
                                             placeholder="Enter Right Thigh cm">
                                        </div>
                                    </div>
                                    <div class="col-md-12 row form-group">
                                        <div class="col-md-4 form-label">
                                            <label>
                                                <strong>Hips</strong>
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="number" class="form-control" formControlName="hips"
                                             placeholder="Enter Hips cm">
                                        </div>
                                    </div>
                                    <div class="col-md-12 row form-group">
                                        <div class="col-md-4 form-label">
                                            <label>
                                                <strong> Right Thigh:</strong>
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="number" class="form-control" formControlName="rightThigh"
                                            placeholder="Enter Right Thigh cm">
                                        </div>
                                    </div>
                                    <div class="col-md-12 row form-group">
                                        <div class="col-md-4 form-label">
                                            <label>
                                                <strong> Right Calf:</strong>
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="number" class="form-control" formControlName="rightCalf"
                                             placeholder="Enter Right Calf cm">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="col-md-12 row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6 row">
                                <div class="col-md-9">
                                    <button class="btn btn-dark button-size" style="float: right;">Reset</button>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-2">
                                    <button class="btn btn-dark button-size" (click)="tabset.select('reg.fee');Update(profileForm.value)">{{NextBtn}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-2"></div> -->
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Reg. Fee" id="tab3" [disabled]="disableFeeTab">
      <ng-template ngbTabContent>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        <h5>Registration Fee</h5>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="profileForm">
                            <!-- left side -->
                            <div class="row col-md-12">
                             
                                    <div class="col-md-12 row form-group">
                                        <div class="col-md-4 form-label">
                                            <label><strong> Description:</strong>
                                            </label>
                                        </div>
                                        <div class="col-md-8 ">
                                            <input type="text" class="form-control" formControlName="description"
                                                placeholder="Enter Description">
                                        </div>
                                    </div>
                                    <div class="col-md-12 row form-group">
                                        <div class="col-md-4 form-label">
                                            <label><strong> Amount:</strong>
                                            </label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="number" class="form-control text-area" formControlName="amount"
                                                placeholder="Select Amount"/>
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-12 row form-group">
                                        <div class="col-md-4 form-label">
                                            <label>
                                                <strong>Date:</strong>
                                            </label>
                                        </div>
                                        <div class="col-md-8 ">
                                            <input type="date" class="form-control " formControlName="registerDate">
                                        </div>
                                    </div>
                                   
                        </div>

                       
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="col-md-12 row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6 row">
                                <div class="col-md-9">
                                    <button class="btn btn-dark button-size" style="float: right;">Reset</button>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-2">
                                    <button class="btn btn-dark button-size" (click)="SaveMember(profileForm.value)">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-2"></div> -->
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
