<div class="card">
    <div class="card-header">
        <h5>View Payment Details</h5>
    </div>
    <div class="card-body">
        <table datatable class="row-border hover">
            <thead>
                <tr>
                    <th>Member ID</th>
                    <th>Member Name</th>
                    <th>Status</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Print View</th>
                    
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngFor ="let employee of employeeList">
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.address}}</td>
                    <td>{{employee.nic}}</td>
                    <td>{{employee.designation}}</td>
                    <td>{{employee.dateOfBirth}}</td>
                    <td>{{employee.genderName}}</td>
                    <td>{{employee.joinedDate}}</td>
                    <td>{{employee.mobileNumber}}</td>
                    <td (click)="editUser(employee)">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </td>
                    <td (click)="deleteUser()">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </td>
                </tr> -->
            </tbody>
        </table>
    </div>
    <div class="card-footer"></div>



      <div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Edit User</h4>
              <button type="button" class="close" (click)="editModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="editModal.hide()">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

      <div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Delete User</h4>
              <button type="button" class="close" (click)="deleteModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="deleteModal.hide()">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

</div>

