<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
                <h5>{{formname}}</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="profileForm">
                    <!-- left side -->
                    <div class="row col-md-12">
                        <div class="col-md-6">
                            <div class="col-md-12 row form-group">
                                <div class="col-md-4 form-label">
                                    <label><strong> First Name:</strong>
                                    </label>
                                </div>
                                <div class="col-md-8 ">
                                    <input type="text" class="form-control" formControlName="firstName"
                                        placeholder="Enter Firts Name">
                                </div>
                            </div>
                            <div class="col-md-12 row form-group">
                                <div class="col-md-4 form-label">
                                    <label><strong> Address:</strong>
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    <textarea type="text" class="form-control text-area" formControlName="address"
                                        placeholder="Enter Address"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 row form-group">
                                <div class="col-md-4 form-label">
                                    <label>
                                        <strong>Date of Birth:</strong>
                                    </label>
                                </div>
                                <div class="col-md-8 ">
                                    <input type="date" class="form-control " [(ngModel)]="dateofbirth"
                                        [(value)]="dateofbirth" name="dateofbirth" formControlName="dateofbirth">
                                </div>
                            </div>
                            <div class="col-md-12 row form-group">
                                <div class="col-md-4 form-label">
                                    <label>
                                        <strong>Join Date:</strong>
                                    </label>
                                </div>
                                <div class="col-md-8 ">
                                    <input type="date" class="form-control " formControlName="joindate" [(ngModel)]="joinDate">
                                </div>
                            </div>
                            <div class="col-md-12 row form-group">
                                <div class="col-md-4 form-label">
                                    <label>
                                        <strong> Moile Number:</strong>
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    <input type="number" class="form-control" formControlName="mobilenumber"
                                        minlength="10" maxlength="10" placeholder="Enter Mobile Number">
                                </div>
                            </div>
                        </div>

                        <!-- right side -->
                        <div class="col-md-6">
                            <div class="col-md-12 row form-group">
                                <div class="col-md-4 form-label">
                                    <label>
                                        <strong> Last Name:</strong>
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" formControlName="lastName"
                                        placeholder="Enter Last Name">
                                </div>
                            </div>
                            <div class="col-md-12 row form-group">
                                <div class="col-md-4 form-label">
                                    <label>
                                        <strong>NIC</strong>
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" formControlName="nic" minlength="10"
                                        maxlength="12" placeholder="Enter NIC">
                                </div>
                            </div><br>
                            <div class="col-md-12 row form-group gender-margin">
                                <div class="col-md-4 form-label">
                                    <label>
                                        <strong>Gender</strong>
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    <input type="radio" value="1" formControlName="gender" [checked]="selectedGender === 'Male'"><span>
                                        Male</span>&nbsp;&nbsp;
                                    <input type="radio" value="2" formControlName="gender" [checked]="selectedGender === 'Female'"><span> Female</span>
                                    
                                </div>
                            </div>
                            <div class="col-md-12 row form-group">
                                <div class="col-md-4 form-label">
                                    <label>
                                        <strong> Designation:</strong>
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    <select class="custom-select">
                                        <option value="" disabled>Select Designation</option>
                                        <option>Chairman</option>
                                        <option>Manager</option>
                                        <option>Receptionist</option>
                                        <option>Trainer</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 row form-group">
                                <div class="col-md-4 form-label">
                                    <label>
                                        <strong> Land Phone:</strong>
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    <input type="number" class="form-control" formControlName="landphone" minlength="10"
                                        maxlength="10" placeholder="Enter Land Phone Number">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="col-md-12 row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6 row">
                        <div class="col-md-9">
                            <button class="btn btn-dark button-size" (click)="ResetPage()">Reset</button>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <button class="btn btn-dark button-size" (click)="SaveEmployee()">{{savebtn}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-2"></div> -->
</div>